@charset "utf-8";
/* CSS Document */
html{
    overflow-x: hidden;
	margin: 0;
	positon: fixed;
}

body{
	width: 100%;
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: hidden !important;
	margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.nav_container{
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
	box-sizing: border-box;
	position: absolute;
	top: 2vw;
}
.nav_bar{
	width: 100%;
	display: flex;
	align-items: center;
}
.car_logo{
		display: none;
}
@media (max-width: 8000px) {
	.logo_large{
		font-size: 5vh;
		font-weight: bold;
		background-color: #ED1C24;
		color: white;
		padding: 0.3vh;
	}
	.logo_small{
		display: none;
	}
	.car_logo{
		display: none;
	}
	nav{
		flex: 1;
		text-align: right;
	}
	nav ul li{
		list-style: none;
		display: inline-block;
		margin-right: 30px;
	}
	nav ul li a{
		text-decoration: none;
		color: black;
		font-size: 2vh;
	}
	.titlepage{
		width: 100%;
		position: relative;
		height: 100vh;
		overflow: hidden !important;
	}
	.textbox1{
		margin-left: 5vw;
		margin-top: 15vh;
		padding: 20px;
		width: 60vw;
		color: black;
	}
	.textbox1 h1{
		font-size: 6vw;
	}
	.textbox1 p{
		font-size: 2vw;
		margin-top: -10px;
		margin-left: 0vw;
	}
	.textbox1a{
		margin-left: 0vw;
		margin-top: vh;
		padding: 20px;
		width: 50vw;
	}
	.textbox1a {
		text-align: right;
		font-size: 2vw
	}
	.lrl_logo{
		display: none;
	}
}
	.titlepage2{
		width: 100%;
		background-color: #CEB888;
		height: 100vh;
		overflow: hidden !important;
	}
	.textbox2{
		margin-right: 20vw;
		margin-top: 33vh;
		padding: 20px;
		width: 40vw;
		float: right;
	}
	.textbox2 h1{
		color: white;
		font-size: 5vw;
	}

	.textbox2 .paragraph{
		margin-left: 0.5vw;
		font-size: 1vw;
		color: white;
	}
	.saturn_image{
		margin-left: 30vw;
		transform: translateY(10vh);
		position: absolute;
		height: 80vh;
		float: left;
		overflow-x: hidden !important;
	}
	.titlepage3{
		width: 100%;
		background-color: #00843D;
		height: 100vh;
		overflow: hidden !important;
	}
	.textbox3{
		margin-left: 5vw;
		margin-top: 15vh;
		padding: 20px;
		width: 50vw;
		float: left;
	}
	.textbox3 h1{
		font-size: 8vw;
		color: white;
	}
	.textbox3 .subtitle{
		margin-left: 1vw;
		color: white;
		font-size: 1.5vw;
		margin-top: -6vh;
	}
	.textbox3 .paragraph{
		margin-left: 0.5vw;
		font-size: 1vw;
		color: white;
	}
	.lrl_image{
		transform: translateX(-0vw) translateY(20vh) ;
		height: 30vw;
		position: absolute;
		float: right;
		overflow-x: hidden !important;
	}
	.satlogo{
		display: none;
	}
	.lrllogo{
		display: none;
	}
	.titlepage4{
		width: 100%;
		background-color: black;
		height: 100vh;
		overflow: hidden !important;
	}
	.textbox4{
		margin-right: 10vw;
		margin-top: 33vh;
		padding: 20px;
		width: 40vw;
		float: right;
	}
	.textbox4 h1{
		color: white;
		font-size: 7vw;
	}
	.textbox4 .subtitle{
		margin-left: 1vw;
		color: white;
		font-size: 1.5vw;
		margin-top: 0.5vh;
	}
	.textbox4 .paragraph{
		margin-left: 1vw;
		font-size: 1vw;
		color: white;
	}
	.dropbtn {
		display: none;
	}
	.dropdown-content {
		display: none;
	}
	.nglogo{
		display: none;
	}
	.sat_image{
		margin-left: 2vw;
		position: absolute;
		transform: translateY(45%) rotate(20deg);
		width: 100vh;
		float: left;
		overflow-x: hidden !important;
	}
@media (max-width: 1366px){
	nav ul li a{
		display: none;
	}
	
	.dropbtn {
		display: block;
		background-color: white;
		cursor: pointer;
		text-decoration: none;
		border: none;
	}

	.dropdown {
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		right: 0;
	}

	.dropdown-content a {
		font-size: 30px;
		color: black;
		padding: 17px 21px;
		text-decoration: none;
		display: block;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
		display: block;
	}
	
	.textbox1{
		margin-left: 5vw;
		margin-top: 10vh;
	}
	.textbox1 p{
		margin-top: -4vh;
	}
	.textbox1 button{
		font-size: 1.5vh;
		margin-left: 1vw;
	}
	.car_image{
		transform: translateY(40%) translateX(-10%);
	}
	.textbox2{
		margin-right: 10vw;
		margin-top: 33vh;
		padding: 20px;
		width: 40vw;
		float: right;
	}
	.textbox3 .subtitle{
		margin-top: -4vh;
	}
	.textbox4{
		margin-right: 10vw;
		margin-top: 33vh;
		padding: 20px;
		width: 40vw;
		float: right;
	}
	.sat_image{
		margin-left: -10vw;
		transform: translateY(35%) rotate(20deg);
	}
}

@media (max-width: 1024px) and (max-height: 768px){
	.textbox1{
		margin-left: 5vw;
		margin-top: 10vh;
	}
	.textbox1 p{
		margin-top: -2vh;
		font-size: 2vh;
	}
	.textbox1 button{
		font-size: 1.5vh;
		margin-left: 1vw;
	}
	.car_image{
		transform: translateY(40%) translateX(-20%);
	}
	.textbox2{
		margin-right: 4vw;
		margin-top: 25vh;
		padding: 20px;
		width: 40vw;
		float: right;
	}
	.textbox2 .subtitle, .textbox2 .paragraph{
		font-size: 2vh;
	}
	.textbox2 .paragraph{
		margin-top: 1vh;
	}
	.saturn_image{
		margin-left: -4vw;
		transform: translateY(20%) rotate(20deg);
	}
	.textbox3{
		margin-top: 8vw;
	}
	.textbox3 .subtitle{
		margin-top: -1vh;
	}
	.textbox3 .subtitle, .textbox3 .paragraph{
		font-size: 2vh;
	}
	.lrl_image{
		height: 40vw;
		transform: translateX(-60%) translateY(120%) rotate(20deg)scaleX(-1); 
	}
	.textbox4{
		margin-right: 4vw;
		margin-top: 25vh;
		padding: 20px;
		width: 40vw;
		float: right;
	}
	.sat_image{
		margin-left: -4vw;
		transform: translateY(20%) rotate(20deg);
	}
}
@media (max-width: 550px) and (max-height: 812px){
	.logo_large{
		display: none;
	}
	.logo_small{
		display: block;
		font-size: 5vh;
		font-weight: bold;
		background-color: black;
		color: white;
		padding: 0.4vh;
	}
	.textbox1{
		margin-left: 5vw;
		margin-top: 20vh;
		width: 85vw;
	}
	.textbox1 p{
		margin-top: -2vh;
		font-size: 3vh;
	}
	.textbox1 a{
		font-size: 1.5vh;
		margin-left: 1vw;
	}
	.car_image{
		display: none;
	}
	.car_logo{
		transform: translateX(15vw) translateY(-13vh);
		height: 60vh;
		display: block;
		overflow-x: hidden !important;
	}
	.textbox2{
		margin-right: 4vw;
		margin-top: 5vh;
		padding: 20px;
		width: 80vw;
		float: right;
	}
	.textbox2 .subtitle, .textbox2 .paragraph{
		font-size: 2vh;
	}
	.textbox2 .paragraph{
		margin-top: 1vh;
	}
	.saturn_image{
		display: none;
	}
	.satlogo{
		display: block;
		width: 80vw;
		margin-left: 10vw;
	}
	.textbox3{
		margin-top: 8vw;
		width: 80vw;
	}
	.lrllogo{
		width: 80vw;
		display: block;
		transform: translateX(10vw)
	}
	.textbox3 .subtitle{
		margin-top: -1vh;
	}
	.textbox3 .subtitle, .textbox3 .paragraph{
		font-size: 2vh;
	}
	.lrl_image{
		display: none;
	}
	.textbox4{
		margin-right: 4vw;
		margin-top: 5vh;
		padding: 20px;
		width: 80vw;
		float: right;
	}
	.textbox4 .subtitle, .textbox4 .paragraph{
		font-size: 2vh;
	}
	.textbox4 .paragraph{
		margin-top: 1vh;
	}
	.sat_image{
		display: none;
	}
	.nglogo{
		display: block;
	}
}
@media (max-width: 812px) and (max-height: 550px){
	.logo_large{
		display: block;
	}
	.logo_small{
		display: none;
	}
	.textbox1{
		margin-left: 5vw;
		margin-top: 20vh;
		width: 90vw;
	}
	.textbox1 p{
		margin-top: -2vh;
		font-size: 3vh;
	}
	.textbox1 a{
		font-size: 1.5vw;
		margin-left: 15vw;
	}
	.car_image{
		display: block;
		transform: translateX(75%) translateY(50%);
	}
	.car_logo{
		display: none;
	}
	.textbox2{
		margin-right: 14vw;
		margin-top: 5vh;
		padding: 20px;
		width: 80vw;
		float: right;
	}
	.textbox2 .subtitle, .textbox2 .paragraph{
		font-size: 1.5vw;
	}
	.textbox2 .paragraph{
		margin-top: 1vh;
	}
	.saturn_image{
		display: none;
	}
	.satlogo{
		display: block;
		height: 45vh;
		transform: translateX(70vw) translateY(-8vh)
	}
	.textbox3{
		margin-top: 0vw;
		margin-left: 0vw;
		width: 60vw;
	}
	.textbox3 h1{
		font-size: 10vw;
	}
	.textbox3 .subtitle{
		margin-top: -1.5vw;
		font-size: 1.5vw;
	}
	.textbox3 .subtitle, .textbox3 .paragraph{
		font-size: 1.5vw;
	}
	.lrl_image{
		display: none; 
	}
	.lrllogo{
		display: block;
		height: 50vh;
		transform: translateY(20vh);
	}
	.textbox4{
		margin-right: 14vw;
		margin-top: 5vh;
		padding: 20px;
		width: 80vw;
		float: right;
	}
	.textbox4 .subtitle, .textbox4 .paragraph{
		font-size: 1.5vw;
	}
	.textbox4 .paragraph{
		margin-top: 1vh;
	}
	.sat_image{
		display: none;
	}
	.nglogo{
		display: block;
		height: 45vh;
		transform: translateX(70vw) translateY(-8vh)
	}
}