html{
    scroll-behavior: smooth;
}
.a:active{
    color:white;
}
.bg-dark{
    background: transparent !important;
}
.bg-dark.scrolled{
    transition: 500ms ease !important;
    background: #181818 !important;
}
.nav-brand-text, .nav-brand-text:hover{
    font-size: 1.1rem;
    text-decoration: underline  0.4rem white;
    color: white;
}
.dropdown-toggle{
    font-size: 1.1rem;
    text-decoration: underline  0.4rem transparent;
    color: white;
    transition: text-decoration-color 0.5s;
}
.dropdown-toggle:hover, .dropdown-toggle:visited{
    text-decoration-color: white !important;
    color: white !important;
}
.nav-item-text{
    font-size: 1.1rem;
    text-decoration: underline  0.4rem transparent;
    color: white;
    transition: text-decoration-color 0.5s;
}
.nav-item-text:hover, .nav-item-text:visited{
    text-decoration-color: white !important;
    color: white !important;
}
.scrolled #navbar-default{
    transition:500ms ease !important;
    background:transparent !important;
  }
.scrolled #navbar-default{
    background:#000 !important;
}
.subtitle{
    color: white;
    position: relative;
    font-size: 10vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 10vh;
}
.header{
    padding-top: 6vh;
}

.nasabackground{
    height:100vh;
}
.nasabackground::before{
    background-image: url(nasabackground.jpg);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    filter: brightness(70%);
}
.jpllogo{
    width: 40vh;
    margin:0;
    height: auto;
    position: relative;
}
.page1{
    margin-left:auto; margin-right: auto;
}
.page1contents{
    height: 100vh;
}


.page2{
    height: 100vh;
}