* {
  margin: 0;
  padding: 0;
}
body, html{
  height: 100%;
}
.back{
  background-image: url(images/anner.jpg);
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.titletext{
  padding-top: 17px;
  display:block;
  font-size: 25px;
  font-family: arial;
  color: black;
  text-align: center;
}
.titletext b{
  background-color: yellow;
  padding-left: 10px;
  padding-right: 10px;
}
.nav{
  display: block;
  position: -webkit-sticky;
  position: sticky;
  width: 80%;
  margin: auto;
}
.nav ul {
  font-family: arial;
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  top: 0;
  text-align: center;
}
.nav li {
  float: left;
  width: 33%;
}
.nav li a {
  font-size: 10px;
  display: block;
  color: #1a1a1a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.wrapper{
  width: 90%;
  margin: 0 auto;
}
.highlight{
  background-color: yellow;
  width: 100px;
  margin-left: 20px;
}
.highlight2{
  background-color: yellow;
  width:155px;
  margin-left: 20px;
}
.highlight3{
  background-color: yellow;
  width:80px;
  margin-left: 20px;
}
.titleheaders h2{
  display: inline;
  font-family: arial;
  font-size: 25px;
  padding-left: 10px;
  color: #5a5a5a;
  font-style: italic;
}
.img-info {
  width: 100%;
}
.img-info h2{
  margin-top: 20px;
  padding-left: 15px;
  font-family: arial;
  font-size: 20px;
  color: #1a1a1a;
  line-height:30px;
  margin-left: -5px;
}
.img-info p{
  padding: 0px 30px 20px;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 24px;
}
.imganddesc{
  font-size: 14px;
  color: #1a1a1a;
  font-style: italic;
  width:60%;
  display: block;
  margin: 0 auto;
}
.imganddesc img{
  width: 100%;
}
.radar{
  margin-bottom: 50px;
}
.sideboximg{
  display: block;
  width: 50%;
  margin: auto;
  padding-top: 20px;
}
.sideboxtext p{
  display: block;
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-family: arial;
  font-size: 12px;
  line-height: 15px;
  color: #111;
}


@media only screen and (min-width: 768px) {
  .titletext{
    padding-top: 15px;
    font-size: 30px;
  }
  .wrapper{
    padding-top: 40px;
    width: 600px;
    margin: 0 auto
  }
  .nav{
    width: 60%;
    margin-top: 10px;
  }
  .nav ul {
    font-size: 12px;
  }
  .nav li {
    float: left;
    width: 33%;
  }
  .nav li a {
    padding: 8px 16px;
    border-right: 1px solid #000;
  }
  .nav li:last-child a {
    border:none;
  }
  .highlight{
    width: 180px;
  }
  .highlight2{
    width: 300px;
  }
  .highlight3{
    width: 143px;
  }
  .img-info h2{
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
  }
  .img-info p{
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .sidebox{
    width: 50%;
    display: block;
    padding: 0px;
  }
  .sideboxtext{
    float:right;
    width: 70%;
  }
  .sideboxtext p{
    padding-left: 20px;
  }
  .sideboximg{
    float:left;
    width:30%;
  }
  .sideboxhold{
    height: 300px;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper{
    width: 850px;
  }
  .back{
    height: 110px;
  }
  .titletext{
    padding-top: 40px;
    font-size: 40px;
  }
  .highlight{
    width: 180px;
  }
  .highlight2{
    width: 295px;
  }
  .sideboxtext p{
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1500px) {
  .wrapper{
    width: 1200px;
  }
  .titletext{
    padding-left: -5px;
  }
  .sideboxhold{
    height: 200px;
  }
  .sideboxtext{
    width: 85%;
  }
  .sideboximg{
    width:15%;
  }
}
